body {
    font-family: 'Open Sans', 'Tahoma';
    overflow-y: scroll;
    min-width: 320px;
    padding-top: 0px;
    background: #3f8166  !important;
}

html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.wide {
    width:100%;
    height:115px;
    /*height:calc(100% - 1px);*/
    background-size:cover;
    background-image:url('/images/logo.jpg');
    margin-bottom: 20px;
}

.wide img {
    width:100%;
}

.logo {
    color:#fff;
    font-weight: bold;
    font-size: 14pt;
    padding: 30px;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px; /* or 950px */
}

@media (max-width: 319px) {
    body, .dropdown-menu > li > a, p, label, .btn {
        font-size: 9pt;
    }
    .panel-heading, .nav-tabs > li > a, .breadcrumb {
        font-size: 10pt;
    }
    .nopadding {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .nopadding2 {
        padding: 0px !important;
        margin: 0px !important;
    }
    .mypull {
        float: left;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    body, .dropdown-menu > li > a, p, label, .btn {
        font-size: 10pt;
    }
    .panel-heading, .nav-tabs > li > a, .breadcrumb {
        font-size: 11pt;
    }
    .nopadding {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
    .nopadding2 {
        padding: 0px !important;
        margin: 0px !important;
    }
    .mypull {
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    body, .dropdown-menu > li > a, p, label, .btn {
        font-size: 11pt;
    }
    .panel-heading, .nav-tabs > li > a, .breadcrumb {
        font-size: 12pt;
    }
    .nopadding {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
    .mypull {
        float: right;
    }
}

@media (min-width: 1280px) {
    body, .dropdown-menu > li > a, p, label, .btn {
        font-size: 12pt;
    }
    .panel-heading, .nav-tabs > li > a, .breadcrumb {
        font-size: 13pt;
    }
    .nopadding {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .mypull {
        float: right;
    }
}

@media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}

.panel, .wide, .breadcrumb, .shadow, .navbar {
    box-shadow: 0 0 8px #444444;
}

.table
{
    margin-bottom: 0px;
}

.pagination {
    margin: 0px;
}

.fixed {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 0px;
}

.hiddenRow {
    padding: 0px !important;
}